<!doctype html>
<html lang="en" ng-app="exampleApp">

<head>
    <script src="angular.min.js"></script>
    <script src="ngPicker.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <style>
    .selected {
        border: 2.4px solid black;
        border-radius: 4px;
        background: #fafafa;
    }
    </style>
</head>

<body ng-controller="ExampleCtrl">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-click="view=''" href="#">ngPicker</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#" ng-click="view = 'max'">max</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div ng-show="view !='max'">
        <ng-picker src="src" dst="dst"></ng-picker>
        {{src}} ======= {{dst}}
    </div>
    <div ng-show="view =='max'">
        <ng-picker src="src" dst="dst" max="2"></ng-picker>
        {{src}} ======= {{dst}}
    </div>

    <!-- <ng-picker src="src" dst="dst" max="2"></ng-picker> -->
    <script>
    var exampleApp = angular.module('exampleApp', ['ngPicker']);
    exampleApp.controller('ExampleCtrl', ['$scope',
        function($scope) {
            $scope.src = {
                "name": "parin",
                "age": 22,
                "lastname": "kataria",
                "friend": "bali"
            }

            $scope.src = ["parin", "mayur", "baliga", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, incidunt, deleniti consequuntur ea blanditiis velit fugit quis necessitatibus ", "repellat ", "autem! ", "Harum", "veniam ", "ut ", "cum ", "ab ", "ratione ", "nemo ", "deleniti", "alias", "error."]
            $scope.dst;
        }
    ]);
    </script>
</body>

</html>
